/***********/
/* GENERAL */
/***********/
@import url('reset.css');
@font-face{
    font-family:"sintony";
    src: url(sintony.otf);
}
/*box width fix*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #244264;
    background: url('http://i.imgur.com/qmEO6sh.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "sintony",Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica,sans-serif;
    color: #778;
    font-size: 18px;
    overflow: hidden;
}
.hidden{
    display:none;
}
.relative{
    position: relative;
}
/**********************/
/* triangle, messages */
/**********************/
span.triangle{
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #48e transparent 
}
span.unread{
    color: #FFF;
    background-color: #A56;
    border-top: 1px solid #E89;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 0px 2px 4px #000;
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    text-align: center;
    font-size: 8px;
    min-width: 14px;
    height: 12px;
    line-height: 10px;
    top: -4px;
    left: 14px;
    -webkit-transform-origin: 50% bottom;
    -moz-transform-origin: 50% bottom;
    -ms-transform-origin: 50% bottom;
    -o-transform-origin: 50% bottom;
    animation: wiggle 0.3s linear 6;
    -moz-animation: wiggle 0.3s linear 6;
    -webkit-animation: wiggle 0.3s linear 6;
    -ms-animation: wiggle 0.3s linear 6;
    -o-animation: wiggle 0.3s linear 6;
}
/*****************/
/* COLUMN LAYOUT */
/*****************/
body>nav{
    width: 132px;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-bottom: 9000px;
    margin-bottom: -9000px;
}
section.main{
    position: fixed;
    width: 100%;
    min-width: 400px;
    left: 0px;
    top: 0px;
    margin-left: 132px;
    padding-right: 140px;
    padding-bottom: 9000px;
    margin-bottom: -9000px;
}
/***************/
/* NAV SIDEBAR */
/***************/
body>nav{
    background-color: rgba(0,0,0,0.5);
    background-image: url('footerbg.png');
    color: #9494b7;
    box-shadow: inset 0 0 10px #000;
}
body>nav div.logo{
    background-image: url("ucc.png");
    height: 50px;
    background-size: 132px 52px;
    background-repeat: no-repeat;
    margin-bottom: 8px;
}
body>nav span.break{
    display: block;
    background: rgba(0,0,0,0.1);
    height: 8px;
    border-bottom: 1px solid rgba(140,140,255,0.2);
    border-top: 1px solid rgba(140,140,255,0.1);
    box-shadow: inset 0 0 2px #000;
}

body>nav h1{
    font-size: 15px;
    text-align: center;
    background: #26c;
    background: -webkit-gradient(radial, center center, 0, center center, 100, from(#48e), to(#26c));
    box-shadow: 0 2px rgba(0,0,0,0.5), 0 -1px rgba(0,0,0,0.3);
    border-top: 1px solid #6af;
    border-bottom: 1px solid #48e;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    color: #dde;
}
body>nav>ul>li{
    display: block;
    width: 132px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
body>nav a{
    position: relative;
    height: 20px;
    width: 132px;
    line-height: 20px;
    display: block;
    color: #9494b7;
    text-shadow: 1px 1px 2px #000;
    text-align: left;
    padding-left: 8px;
    font-size: 15px;
    outline: none;
    transition: all 0.2s ease;
}
body>nav a:hover,body>nav a.current, body>nav a.navicon.current{
    background-color: rgba(0,0,0,0.4);
}
body>nav a:focus, body>nav a.navicon:focus{
    background-color: rgba(0,0,0,0.8);
}
body>nav a.navicon, body>nav a.navicon:hover{
    line-height: 17px;
    position: relative;
    background: transparent;
    height: 22px;
    text-align: left;
    padding: 2px;
    padding-left: 30px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 7px 2px;
    margin-top: 6px;
    margin-bottom: 2px;
}
body>nav a.navicon{
    transition: transform 0.2s ease;
}
body>nav a.navicon:hover{
    color: #88a;
    background-color: rgba(0,0,0,0.3);
}
body>nav a#profile, body>nav a#profile:hover{
    background-image: url('profile.png');
}
body>nav a#msg, body>nav a#msg:hover{
    background-image: url('msg.png');
}
body>nav a#logout, body>nav a#logout:hover{
    background-image: url('logout.png');
}
body>nav footer{
    position: fixed;
    color: #446;
    height: 48px;
    bottom: 0px;
    left: 0px;
    display: block;
    padding-bottom: 4px;
    border-top: 1px solid rgba(140,140,255,0.1);
    width: 132px;
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0 0 10px #000;
}
body>nav footer a{
    display: inline-block;
    color: #446;
    cursor: pointer;
}
body>nav a#about{
    background: transparent url(about.png) no-repeat;;
}
body>nav a#help{
    background: transparent url(help.png) no-repeat;
}
body>nav a#about,body>nav a#help{
    border-bottom: 1px solid rgba(140,140,255,0.1);
    background-position: 4px center;
    width: 66px;
    background-size: 16px, 16px;
    padding-left: 21px;
    height: 26px;
    line-height: 22px;
    margin-bottom: 4px;
    text-align: left;
}
body>nav a#about:hover,body>nav a#help:hover{
    background-color: #000;
    color: #446;
}
nav small{
    font-size: 12px;
    height: 14px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
/********/
/* MAIN */
/********/
section.main{
    background: #eef;
    padding-left: 8px;
    border-left: 1px solid #fff;
    box-shadow: -3px 0 rgba(0,0,0,0.2), -2px 0 rgba(0,0,0,0.2),-1px 0 rgba(0,0,0,0.3);
    z-index: 10;
}
section.main>h1.banner{
    display: block;
    position: relative;
    top: 0;
    left: -9px;
    background-color: #48e;
    background: linear-gradient(to bottom, #48e 70%,#06c 100%);
    border-left: 1px solid #6af;
    text-shadow: 1px 1px 2px #06c;
    color: #fff;
    display: inline-block;
    width: 150%;
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 4px;
}
section.main>h1.banner:after{
    position: relative;
    top: 5px;
    left: -9px;
    content:"";
    display: block;
    width: 150%;
    height: 1px;
    background: #fff;
    border-top: #06c;
}
/*******************/
/* FILTER/WEEK BAR */
/*******************/
ul.filters, ul.weekSelect{
    line-height: 28px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 30px;
    min-width: 753px;
    display: block;
    padding-left: 110px;
    background: #889;
    border: 1px solid #778;
    text-shadow: 1px 1px 2px #778;
}
ul.filters:after, ul.weekSelect:after{
    display: inline-block;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    width: 110px;
    height: 28px;
    content: "Filter:";
    background: #778;
}
ul.weekSelect:after{
    content: "Week:";
}
ul.filters li, ul.weekSelect li{
    text-align: center;
    width: 90px;
    height: 28px;
    display: inline-block;
    border-right: 1px solid #778;
}
ul.weekSelect li{
    width: 140px;
}
ul.filters li:first-child, ul.weekSelect li:first-child{
    border-left: 1px solid #889;
}
ul.filters li:hover, ul.weekSelect li:hover{
    color: #eef;
    box-shadow: inset 1px 0 12px 2px #778;
}
ul.filters li a, ul.weekSelect li a{
    display: block;
    color: #fff;
    text-decoration: none;
}
ul.filters li a:focus, ul.filters li a.selected, ul.weekSelect li a:focus, ul.weekSelect li a.selected{
    box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
    background-image: url('footerbg.png');
    outline: 0;
}
/*********/
/* TABLE */
/*********/
table{
    width: 100%;
    border: 1px solid #778;
    margin-bottom: 8px;
    border-collapse: collapse;
    border-bottom: none;
}
table>caption{
    margin-top: 4px;
    caption-side: bottom;
    font-size: 14px;
}
tr{
    height: 34px;
}
th{
    font-family: Helvetica, sans-serif;
    padding: 4px;
    background: #889;
    color: #fff;
    border-right: 1px solid #778;
    border-bottom: 1px solid #778;
    min-width: 4em;
}
td{
    line-height: 12px;
    text-align: center;
    padding: 2px;
    padding-top: 0px;
    border-top: none;
    font-size: 12px;
}
table tr td{
    border-bottom: 1px solid #778;
}
td.selectable{
    cursor:pointer;
}
td.hoverable{
    cursor: help;
}
tr td.meeting{
    background: #a56;
    border: 1px solid #723;
    border-top: none;
    text-shadow: 1px 1px 2px #723;
    color: #eef;
}
tr td.practical{
    background: #48e;
    border: 1px solid #06c;
    border-top: none;
    text-shadow: 1px 1px 2px #06c;
    color: #eef;
}
tr td.lecture{
    background: #bbc;
    border: 1px solid #889;
    border-top: none;
    text-shadow: 1px 1px 2px #889;
    color: #eef;
}
tr th:first-child{
    width: 101px;
    background: #778;
}
td:nth-child(even){
    background-color: #e0eafd;
}
td.animate{
    border: 1px solid #889;
}
/****************/
/* priority bgs */
/****************/
td.priority-8,td.priority-9,td.priority-10,td.priority-11,td.priority-12,
td.priority-13,td.priority-14,td.priority-15,td.priority-16,td.priority-17{
    background-color: #a56;
    border: 1px solid #723;
    border-top: none;
    text-shadow: 1px 1px 2px #723;
    color: #fff;
}
td.priority-5,td.priority-6,td.priority-7{
    background-color: #b75;
    border: 1px solid #831;
    border-top: none;
    text-shadow: 1px 1px 2px #831;
    color: #fff;
}
td.priority-4{
    background-color: #c95;
    border: 1px solid #a51;
    border-top: none;
    text-shadow: 1px 1px 2px #a51;
    color: #fff;
}
td.priority-3{
    background-color: #db6;
    border: 1px solid #c82;
    border-top: none;
    text-shadow: 1px 1px 2px #c82;
    color: #fff;
}
td.priority-2{
    background-color: #cd6;
    border: 1px solid #8a1;
    border-top: none;
    text-shadow: 1px 1px 2px #8a1;
    color: #fff;
}
td.priority-1{
    background-color: #9d7;
    border: 1px solid #4a2;
    border-top: none;
    text-shadow: 1px 1px 2px #4a2;
    color: #fff;
}
td.priority-0,td.suggested-timeslot{
    text-shadow: 1px 1px 2px #889, 0 0 1px rgba(0,0,0,0.6);
    color: #fff;
    cursor: pointer;
}
td.priority-0:after{
    font-size: 12px;
    content: "Free";
    cursor: pointer;
}
td.suggested-timeslot:after{
    font-size: 12px;
    content: "Suggested";
    cursor: pointer;
}
table tr td.selected{
    background-image: url('footerbg.png');
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
    background-color: #889;
    border: 1px solid #889;
}
td.selected:after{
    display: inline-block;
    text-shadow: 0 0 6px rgba(0,0,0,0.4);
    font-size: 12px;
    line-height: 22px;
    content:"✔ Selected";
}
td.priority-1:after,td.priority-2:after,td.priority-3:after,td.priority-4:after,
td.priority-5:after,td.priority-6:after,td.priority-7:after,td.priority-8:after,
td.priority-9:after,td.priority-10:after,td.priority-11:after,td.priority-12:after,
td.priority-13:after,td.priority-14:after{
    content:"";
}
/************/
/* HEADINGS */
/************/
section.main hgroup{
    display: inline-block;
    width: 100%;
    background: #889;
    border: 1px solid #778;
    padding: 0;
    height: 30px;
    line-height: 28px;
    margin-top: 8px;
}
section.main hgroup h1{
    position: relative;
    display: inline-block;
    height: 28px;
    color: #fff;
    background: #778;
    padding: 0px;
    padding-left: 6px;
    border-bottom: none;
    width: 200px;
}
section.main hgroup h1:after{
    display: block;
    position: absolute;
    right: -18px;
    top: -1;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 18px;
    border-color: transparent transparent transparent #778;
}
section.main hgroup h2{
    display: inline-block;
    height: 28px;
    padding: 0px;
    padding-left: 1.5em;
    color: #fff;
    text-shadow: 1px 1px 2px #778;
}
/*********/
/* FORMS */
/*********/
form{
    width: 430px;
}
form div{
    display: block;
    width: 430px;
    position: relative;
    margin: 4px 0;
    height: 24px;
}
form div.autoHeight{
    height: 72px;
}
form div label{
    position: absolute;
    top: 0px;
    left: 0px;
}
form div input, for, div select{
    position: absolute;
    top: 0px;
    left: 114px;
}
input, select{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 280px;
    color: #eef;
    font-weight: bold;
    line-height: 22px;
    height: 24px;
    background: #889;
    border: 1px solid #778;
    outline: none;
}
select:focus{
    outline: none;
    border: 1px solid #778;
}
select[multiple="multiple"]{
    height: 72px;
}
input[type="submit"]{
    background: #48e;
    border: 1px solid #06c;
    text-shadow: 1px 1px 2px #000;
    color: #eef;
    cursor: pointer;
}
input[type="submit"]:hover{
    box-shadow: none;
}
input[type="submit"]:focus{
    outline: 0;
    background: #59f;
    box-shadow: none;
    font-style: normal;
    text-decoration: none;
}
input:hover, select:hover{
    box-shadow: inset 0 0 10px #667;
}
input:focus, select:focus{
    color: #e0eafd;
    background-color: #778;
    background-image: url('footerbg.png');
    border: 1px solid #445;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
}
form div.radioBox{
    overflow: visible;
    position: relative;
    background: #889;
    border: 1px solid #778;
    width: 394px;
    height: 24px;
}
form div.radioBox span{
    position: relative;
    top: -7px;
    color: #fff;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
    padding-right: 4px;
    display: inline-block;
    width: 102px;
    text-align: right;
}
form div.radioBox span:first-child{  
    width: 110px;
}
input[type="radio"]{
    position: relative;
    left: 2px;
    display: inline-block;
    margin  : 0;
    padding : 0;
    width: 22px;
    height: 22px;
    background: #778;
    outline: none;
}
label{
    margin: 0px;
    line-height: 22px;
    font-size: 18px;
    padding-right: 4px;
    height: 24px;
    display: inline-block;
    width: 110px;
    text-align: right;
    background: #778;
    color: #fff;
}
label[for="over-priority"]{
    font-size:14px;
    line-height: 22px;
}
div.autoHeight label{
    height: 72px;
}
label span{
    color: #ccd;
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding-left: 4px;
}
div.login label{
    line-height: 22px;
    font-size: 18px;
    padding-right: 4px;
    height: 24px;
    display: inline-block;
    width: 80px;
    text-align: right;
    background: #778;
    color: #fff;
}

/*********/
/* LOGIN */
/*********/
body.login h1{
    text-align: center;
}
body.login a{
    text-decoration: none;
    color: #9494b7;
}
body.login p, div.signup p{
    position: relative;
    top: -22px;
    font-size: 14px;
    color: #a56;
    text-shadow: 1px 1px 2px #000;
    width: 100%;
    text-align: center;
}
div.signup p{
    top: 8px;
}
div.login, div.signup{
    text-shadow: 1px 1px 2px #000;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    padding: 8px;
    padding-top: 16px;
    width: 420px;
    height: 160px;
    box-shadow: inset 0 0 8px #000;
    margin: auto;
    margin-top: 8%;
    border-bottom: 1px solid rgba(240,240,255,0.5);
}
div.signup{
    height: 250px;
    width: 442px;
}
div.login input, div.login input:hover,  div.signup input,  div.signup input:hover{
    background: rgba(0,0,0,0.5);
    border: none;
    border-bottom: 1px solid #334;
    box-shadow: inset 0 0 10px #000;
}
div.login input[type="submit"], div.signup input[type="submit"]{
    display: block;
    width: 320px;
    background: #26c;
    background: -webkit-gradient(radial, center center, 0, center center, 100, from(#48e), to(#26c));
    box-shadow: 0 2px 4px #000;
    border: 1px solid #48e;
    border-top: 1px solid #6af;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    color: #dde;
}
div.login label, div.signup label{
    font-size: 16px;
    width: 7em;
    color: #9494b7;
    background: transparent;
    background-image: url('pass.png');
    background-position: 2px 2px;
    height: 22px;
    padding: 2px;
    padding-left: 30px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 7px 2px;
}
div.signup label{
    width: 8em;
}
div.login label#email, div.signup label[for="email"]{
    background-image: url('msg.png');
}
div.signup label[for="id"],div.signup label[for="surname"],div.signup label[for="firstName"]{
    background-image: url('profile.png');
}
div.login footer{
    text-align: center;
    font-size: 12px;
    padding: 8px;
}
footer.loginFooter{
    text-shadow: 1px 1px 2px #000;
    background-image: url('footerbg.png');
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 8px #000;
    border-top: 1px solid rgba(240,240,255,0.5);
    height: 40px;
}
footer.loginFooter small{
    font-size: 16px;
    position: fixed;
    bottom: 8px;
    left: 8px;
}
footer.loginFooter ul{
    display: inline-block;
    font-size: 16px;
    position: fixed;
    bottom: 8px;
    right: 8px;
}
footer.loginFooter ul li{
    display: inline-block;
    margin-left: 4px;
}
footer.loginFooter ul li:before{
    display: inline-block;
    content: "|";
    margin-right: 4px;
}
/*********/
/* POPUP */
/*********/
div.popupDescription{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    min-height: 50px;
    margin:auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px;
    text-shadow: none;
    font-size: 12px;
    background: #fff;
    border-radius: 6px;
    color: #000;
    z-index: 20;
    box-shadow: 1px 1px rgba(0,0,0,0.3), 0 2px 6px -1px rgba(0,0,0,0.8);
}
div.popupDescription:after{
    content:"";
    display: block;
    position: absolute;
    left: 14px;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 0 14px;
    border-color: #fff transparent transparent transparent;
}
div.popup{
    position: fixed;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    left: 8px;
    bottom: 60px;
    padding: 8px;
    font-size: 14px;
    background: #fff;
    border-radius: 6px;
    color: #000;
    z-index: 20;
    box-shadow: 1px 1px rgba(0,0,0,0.3), 0 2px 6px -1px rgba(0,0,0,0.8);
}
div.popup:after{
    content:"";
    display: block;
    position: absolute;
    left: 56px;
    bottom: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 0 14px;
    border-color: #fff transparent transparent transparent;
}
div.popup button{
    display: block;
    position: absolute;
    width: 50%;
    left: 25%;
    margin-top: 16px;
    bottom: 8px;
    background: #48e;
    border: 1px solid #06c;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    color: #eef;
    cursor: pointer;
}
div.popup h1{
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
}
/***********/
/* MESSAGES*/
/***********/
div.message{
    font-size: 12px;
    position: relative;
    height: 96px;
    padding: 0;
    padding-left: 30px;
    color: #778;
    position: relative;
    background: #fff;
    margin-top: 8px;
    box-shadow: 0 2px 6px -1px rgba(0,0,0,0.8);
    border-radius: 6px;
}
div.message span{
    font-size: 12px;
    line-height: 22px;
    padding-left: 8px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 22px;
    display: block;
    width: 96px;
    color: #fff;
    background-color: #889;
    text-shadow: 1px 1px 2px #778;
    border-radius: 0 0 6px 6px;
     -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;

    -webkit-transform: rotate(90deg); 
    -moz-transform:    rotate(90deg); 
    -ms-transform:     rotate(90deg); 
    -o-transform:      rotate(90deg); 
}
div.message span.meeting{
    background-color: #a56;
    text-shadow: 1px 1px 2px #723;
}
div.message span.cancellation{
    background-color: #48e;
    text-shadow: 1px 1px 2px #06c;
}
div.message h1{
    font-size: 18px;
    height: 22px;
    line-height: 24px;
    color: #778;
}
/**********/
/* ERRORS */
/**********/
div.errors{
    position: relative;
    width: 395px;
    background: #fff;
    margin-top: 4px;
    padding-bottom: 6px;
    box-shadow: 0 2px 6px -1px rgba(0,0,0,0.8);
    border-radius: 6px;
}
div.errors h1{
    position: relative;
    height: 28px;
    border-radius: 6px 6px 0 0;
    background-repeat: no-repeat;
    background-image: url('error.png');
    line-height: 28px;
    background-color: #778;
    color: #FFF;
    background-size: 28px 28px;
    background-position: 0px 0px;
    padding-left: 34px;
}
div.errors h1 span{
    color: #FFF;
    background-color: #A56;
    border-top: 1px solid #E89;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 0px 2px 4px #000;
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    text-align: center;
    font-size: 8px;
    min-width: 14px;
    height: 12px;
    line-height: 10px;
    top: -4px;
    left: 16px;
}
div.errors p{
    padding: 4px;
}
/***********/
/* PROFILE */
/***********/
div.profile{
    min-width: 400px;
    background: #fff;
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0 2px 6px -1px rgba(0,0,0,0.8);
    border-radius: 6px;
}
div.profile div.img{
    background: url('http://upload.wikimedia.org/wikipedia/commons/b/bd/Apodemus_sylvaticus_bosmuis.jpg');
    background-size: 120px, auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 6px;
    box-shadow: inset 0px 2px 6px rgba(0,0,0,0.6);
}
section.main div.profile>h1{
    display: inline-block;
    position: relative;
    left: 112px;
    top: -108px;
    margin: 0;
    border: none;
}
section.main div.profile>h2{
    font-size: 14px;
    position: relative;
    left: 112px;
    top: -110px;
}
div.profile>p{
    font-size: 14px;
    position: relative;
    left: 112px;
    top: -108px;
}
div.profile>div{
    margin-top: -58px;
    background-color: #889;
    border-bottom: 1px solid #778;
    margin-bottom: 6px;
    font-size: 14px;
    color: #eef;
}
div.profile>div>h1{
    background-color: #778;
    border: none;
    color: #fff;
    padding: 2px;
    padding-left: 6px;
}
div.profile>div>p{
    padding: 6px;
}
/**************/
/* ANIMATIONS */
/**************/
@-webkit-keyframes wiggle{
    0%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25%{
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);   
    }
    75%{
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    100%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-o-keyframes wiggle{
    0%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25%{
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75%{
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    100%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-moz-keyframes wiggle{
    0%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25%{
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); 
    }
    75%{
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    100%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes wiggle{
    0%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25%{
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);  
    }
    75%{
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    100%{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}